.select_row{
    padding-top: 10px;
}


.select_btn_active{
    background-color: #ec843e;
    color: white;
}


.vrframe{
    width: 100%;
    height: 95%;
}


.vrframe_container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #222;
    border-radius: 8px;
    color: #fff;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;

    transform: translate(-50%, -50%);

    box-shadow: 0 0 16px rgba(0, 0, 0, .3);
    transform-origin: 0 0;
    overflow: hidden;
}

.img-rounded {
    display: block;
    height: auto;
    max-width: 100%;
  }



.carousel_item_img{
    height: 500px;
}