.container {
    position: absolute;
    width: 100px;
    height: 90px;
    background-color: #222;
    color: #fff;
    font-weight: 100;
    padding: 8px;
    transform-origin: 50% 50%;
}

.container > .button {
    float: left;
    display: inline-block;
    background-color: #07f;
    padding: 0 16px;
    font-size: 18px;
    line-height: 32px;
    border-radius: 4px;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container > .counterBox {
    float: right;
}

.container .counter {
    color: #ff0;
    font-size: 24px;
}

.container > .text {
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}