
        <div class="row">
            <h2> <p class="text-center">我是标题2 h2</p</h2>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row select_row">
                    <select class="selectpicker col-xs-12" name="public-choice" v-model="subdata.couponSelected">
                        <option :value="coupon.id" v-for="coupon in subdata.couponList" >{{coupon.name}}</option>
                    </select>
                </div>
                <div class="row select_row">
                    <select class="selectpicker col-xs-12" name="public-choice" v-model="subdata.couponSelected">
                        <option :value="coupon.id" v-for="coupon in subdata.couponList" >{{coupon.name}}</option>
                    </select>
                </div>
                
                <div class="row select_row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="name" placeholder="请输入名称">
                    </div>
                    <select class="selectpicker col-xs-6">
                        <option>maasd</option>
                        <option>maasd1</option>
                    </select>
                </div>
                <div class="row select_row">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="name" placeholder="请输入名称">
                    </div>
                </div>
                <div class="row select_row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block btn-warning" v-on:click="OnCancel">原始按钮</button>
                    </div>
                </div>
                

            </div>

            <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-8">
                                <strong>本行内容是在标签内</strong><br>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-right">
                                <a href="#">
                                    沈阳<span class="glyphicon glyphicon-map-marker text-right"></span>
                                </a>
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="checkbox checkbox-primary">               
                                <input type="checkbox" id="keywordsType" checked="checked"  class="styled" />
                                    <label for="keywordsType" style=" font-size:18px;">
                                        随机<p>test</p>
                                </label>
                        </div>
                        <div class="checkbox checkbox-primary">               
                                <input type="checkbox" id="keywordsType1" checked="checked"  class="styled" />
                                    <label for="keywordsType1" style=" font-size:18px;">
                                        随机<p>test</p>
                                </label>
                        </div>                        <div class="checkbox checkbox-primary">               
                                <input type="checkbox" id="keywordsType2" checked="checked"  class="styled" />
                                    <label for="keywordsType2" style=" font-size:18px;">
                                        随机<p> <small>Someone famous in</small></p>
                                </label>
                        </div>
                    </div>                 
            </div>
            <div class="col-xs-12">
                    <blockquote class="pull-center">
                            <small>Someone famous in <cite title="Source Title"><a>Source Title</a></cite></small>
                          </blockquote>
            </div>

        </div>
