<!doctype html>
<html>

<head>

    <link href="../style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/test.css" rel="stylesheet" />
</head>

<body>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>


    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

    <div id="application-splash-wrapper">
        <div id="application-splash" v-show="show"><img
                src="https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/images/play_text_252_white.png">
            <div id="progress-bar-container">
                <div id="progress-bar" v-bind:style="{width: progress + '%' }"></div>
            </div>
        </div>
    </div>

    <!--  -->
    <div id="container" > 
        <transition name = "navigator">
            <div class="navigator-container double-eleven" v-show="show">
                <div class="navigator-closed-btns">
                    <div class="closed-btn super-mall-hall active" v-on:click="onClickTest">
                        <div class="name">逛集市</div>
                    </div>
                    <div class="closed-btn brand-hall" v-on:click="OnClickBrands" >
                        <div class="name">选品牌</div>
                    </div>
                    <div class="closed-btn theme-hall" v-on:click="OnClickSearches" >
                        <div class="name">主题馆</div>
                    </div>
                </div>
            </div>
        </transition>
    </div>


    <nav id="sidebar" class="navbar navbar-inverse navbar-fixed-left sibebar-wrapper" role="navigation" style="display: none;">

        <div id="nav-opened" class="navigator-opened-btn" v-on:click="OnClick" >
            <img src="./assets/images/opened.png">
        </div>

        <div  class="sidebar-wrapper-container">
            <!-- tabs controller -->
            <div class="col-xs-12 sidebar-menu"  id="tabs">
                <div class="row">
                    <div class="col-xs-4 sidebar-menu-item" v-on:click="OnClickCars" v-bind:class="isCarsActived">
                        <div class="">Cars</div>
                    </div>
                    <div class="col-xs-4 sidebar-menu-item" v-on:click="OnClickBrands" v-bind:class="isBrandsActived">
                        <div class="">Brands</div>
                    </div>
                    <div class="col-xs-4 sidebar-menu-item" v-on:click="OnClickSearches" v-bind:class="isSearchActived">
                        <div class="">Title</div>
                    </div>
    
                </div>
            </div>
    
            <!-- cars panel -->
            <div class="sibebar-mall-wrapper" id="cars" v-show="show">
    
                <div class="col-xs-12 sidebar-title">
                    <div class="">Title</div>
                </div>
    
                <!-- price type title -->
                <div class="row">
                    <div class="col-xs-12 sidebar-sub-title">
                        <h5 class="page-header">10~20W</h5>
                    </div>
                </div>
 
                <template v-for="site in sites1">
                    <div class="col-xs-6 sidebar-item" v-on:click="OnClickSite1">
                        <div :id="site.id" class="car-button" v-bind:class="site.isFocused">
                            {{ site.name }}
                            <div class="icon " v-bind:class="site.isRecommend"></div>
                        </div>
                    </div>
                </template>
    
                <div class="row">
                    <div class="col-xs-12 sidebar-sub-title">
                        <h5 class="page-header">10~20W</h5>
                    </div>
                </div>
    
                <template v-for="site in sites2">
                    <div class="col-xs-6 sidebar-item" v-on:click="OnClickSite2">
                        <div :id="site.id" class="car-button" v-bind:class="site.isFocused">
                            {{ site.name }}
                            <div class="icon " v-bind:class="site.isRecommend"></div>
                        </div>
                    </div>
                </template>
            </div>
            <!-- cars panel end -->

            <!-- cars panel -->
            <div class="sibebar-brand-wrapper" id="brands" v-show="show">

                <div class="col-xs-12 sidebar-title">
                    <div class="">Title</div>
                </div>
    
                <!-- price type title -->
                <div class="row">
                    <div class="col-xs-12 sidebar-sub-title">
                        <h5 class="page-header">10~20W</h5>
                    </div>
                </div>
    
                <template v-for="site in sites1">
                    <div class="col-xs-6 sidebar-item" v-on:click="OnClickSite1">
                        <div :id="site.id" class="car-button" v-bind:class="site.isFocused">
                            {{ site.name }}
                            <div class="icon " v-bind:class="site.isRecommend"></div>
                        </div>
                    </div>
                </template>
    
                <div class="row">
                    <div class="col-xs-12 sidebar-sub-title">
                        <h5 class="page-header">10~20W</h5>
                    </div>
                </div>
    
                <template v-for="site in sites2">
                    <div class="col-xs-6 sidebar-item" v-on:click="OnClickSite2">
                        <div :id="site.id" class="car-button" v-bind:class="site.isFocused">
                            {{ site.name }}
                            <div class="icon " v-bind:class="site.isRecommend"></div>
                        </div>
                    </div>
                </template>
            </div>
            <!-- cars panel end -->

        </div>


    </nav>

    <div class="hot-series-nav-box" id="hot-series-nav-box" style="">
        <div
            class="hot-series-container swiper-container-horizontal swiper-container-free-mode swiper-container-autoheight">
            <ul class="swiper-wrapper hot-series-box swiper-justify"
                style="height: 22px; transform: translate3d(0px, 0px, 0px);">
                <li class="swiper-slide series-item swiper-slide-active" anchorname="virtual_3367_5zvts65y_k2bonijj"
                    seriesid="4693" id="10458396" data=>
                    <span class="hot-series-title"><i class="corn" style="background-image:url()"></i>瑞虎8</span>
                    <span class="hot-series-num">19.1W人</span>
                </li>
                <li class="swiper-slide series-item swiper-slide-active" anchorname="virtual_3367_5zvts65y_k2bonijj"
                    seriesid="4693" id="10458396" data=>
                    <span class="hot-series-title"><i class="corn" style="background-image:url()"></i>瑞虎8</span>
                    <span class="hot-series-num">19.1W人</span>
                </li>
                <li class="swiper-slide series-item swiper-slide-active" anchorname="virtual_3367_5zvts65y_k2bonijj"
                    seriesid="4693" id="10458396" data=>
                    <span class="hot-series-title"><i class="corn" style="background-image:url()"></i>瑞虎8</span>
                    <span class="hot-series-num">19.1W人</span>
                </li>
                <li class="swiper-slide series-item swiper-slide-active" anchorname="virtual_3367_5zvts65y_k2bonijj"
                    seriesid="4693" id="10458396" data=>
                    <span class="hot-series-title"><i class="corn" style="background-image:url()"></i>瑞虎8</span>
                    <span class="hot-series-num">19.1W人</span>
                </li>
            </ul>
        </div>
        <div class="swiper-button-prev swiper-button-disabled">

        </div>
        <div class="swiper-button-next">

        </div>
    </div>


    <script src="./js/test.js"></script>

</body>

</html>